In [5]:
#a
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import numpy as np


df = pd.read_csv("https://github.com/mpourhoma/CS4661/raw/master/Credit.csv")
df[::10]

      Income  Limit  Rating  Cards  Age  Education  Married  Balance
0     14.891   3606     283      2   34         11        1      333
10    63.095   8117     589      4   30         14        1     1407
20    17.700   2860     235      4   63         16        0       89
30    34.142   5666     413      4   47          5        1      863
40    34.950   3327     253      3   54         14        0       50
50    36.362   5183     376      3   49         15        1      654
60    35.510   5198     364      2   35         20        0      631
70    24.889   3954     318      4   75         12        1      357
80    27.369   3449     288      3   40          9        1      162
90    20.191   5767     431      4   42         16        1     1023
100   21.153   3736     256      1   41         11        0      298
110   34.537   3271     250      3   57         17        1       47
120   27.241   1402     128      2   67         15        1        0
130   23.793   3821     281      4   56         12        1      868
140   39.831   6045     459      3   32         12        1     1425
150   63.931   5728     435      3   28         14        1      581
160   12.238   4865     381      5   67         11        0      836
170   34.772   2021     167      3   57          9        0        0
180   10.635   3584     294      5   69         16        1      423
190   55.187   5352     385      4   50         17        1      538
200   23.949   5343     383      2   40         18        1      829
210   24.543   3206     243      2   62         12        1       95
220   44.847   5765     437      3   53         13        0     1246
230   33.214   5137     387      3   59          9        0      661
240   29.705   3351     262      5   71         14        1      148
250   10.363   2430     191      2   47         18        1        0
260   67.937   5184     383      4   63         12        1      345
270   15.866   3085     217      1   39         13        0      136
280   53.401   5319     377      3   35         12        0      541
290   26.370   3235     268      5   78         11        1      159
300   21.786   4632     355      1   50         17        1      580
310   33.694   4891     369      1   52         16        0     1036
320   16.279   1160     126      3   78         13        1        5
330   20.405   4543     329      2   72         17        0     1054
340   27.794   3807     301      4   35          8        1      320
350   30.002   1561     155      4   70         13        1        0
360   53.566   5891     434      4   82         10        0      712
370   35.610   6135     466      4   40         12        0      992
380  115.123   7760     538      3   83         14        0      661
390  135.118  10578     747      3   81         15        1     1393

In [6]:
#b
feature_cols = ['Income','Limit','Rating','Cards','Age','Education','Married']

# use the above list to select the features:
X = df[feature_cols]

# check the size:
print(X.shape)

# show the first 5 rows
X

(400, 7)

      Income  Limit  Rating  Cards  Age  Education  Married
0     14.891   3606     283      2   34         11        1
1    106.025   6645     483      3   82         15        1
2    104.593   7075     514      4   71         11        0
3    148.924   9504     681      3   36         11        0
4     55.882   4897     357      2   68         16        1
5     80.180   8047     569      4   77         10        0
6     20.996   3388     259      2   37         12        0
7     71.408   7114     512      2   87          9        0
8     15.125   3300     266      5   66         13        0
9     71.061   6819     491      3   41         19        1
10    63.095   8117     589      4   30         14        1
11    15.045   1311     138      3   64         16        0
12    80.616   5308     394      1   57          7        1
13    43.682   6922     511      1   49          9        1
14    19.144   3291     269      2   75         13        0
15    20.089   2525     200      3   57         15        1
16    53.598   3714     286      3   73         17        1
17    36.496   4378     339      3   69         15        1
18    49.570   6384     448      1   28          9        1
19    42.079   6626     479      2   44          9        0
20    17.700   2860     235      4   63         16        0
21    37.348   6378     458      1   72         17        0
22    20.103   2631     213      3   61         10        1
23    64.027   5179     398      5   48          8        1
24    10.742   1757     156      3   57         15        0
25    14.090   4323     326      5   25         16        1
26    42.471   3625     289      6   44         12        0
27    32.793   4534     333      2   44         16        0
28   186.634  13414     949      2   41         14        1
29    26.813   5611     411      4   55         16        0
..       ...    ...     ...    ...  ...        ...      ...
370   35.610   6135     466      4   40         12        0
371   39.116   2150     173      4   75         15        0
372   19.782   3782     293      2   46         16        0
373   55.412   5354     383      2   37         16        1
374   29.400   4840     368      3   76         18        1
375   20.974   5673     413      5   44         16        1
376   87.625   7167     515      2   46         10        0
377   28.144   1567     142      3   51         10        1
378   19.349   4941     366      1   33         19        1
379   53.308   2860     214      1   84         10        1
380  115.123   7760     538      3   83         14        0
381  101.788   8029     574      2   84         11        1
382   24.824   5495     409      1   33          9        0
383   14.292   3274     282      9   64          9        1
384   20.088   1870     180      3   76         16        0
385   26.400   5640     398      3   58         15        0
386   19.253   3683     287      4   57         10        0
387   16.529   1357     126      3   62          9        0
388   37.878   6827     482      2   80         13        0
389   83.948   7100     503      2   44         18        0
390  135.118  10578     747      3   81         15        1
391   73.327   6555     472      2   43         15        0
392   25.974   2308     196      2   24         10        0
393   17.316   1335     138      2   65         13        0
394   49.794   5758     410      4   40          8        0
395   12.096   4100     307      3   32         13        1
396   13.364   3838     296      5   65         17        0
397   57.872   4171     321      5   67         12        1
398   37.728   2525     192      1   44         13        1
399   18.701   5524     415      5   64          7        0

[400 rows x 7 columns]

In [7]:
# select the target (last column) from the DataFrame
y = df['Balance']

# checking the size of target vector:
y.size
print(y)

0       333
1       903
2       580
3       964
4       331
5      1151
6       203
7       872
8       279
9      1350
10     1407
11        0
12      204
13     1081
14      148
15        0
16        0
17      368
18      891
19     1048
20       89
21      968
22        0
23      411
24        0
25      671
26      654
27      467
28     1809
29      915
       ...
370     992
371       0
372     840
373    1003
374     588
375    1000
376     767
377       0
378     717
379       0
380     661
381     849
382    1352
383     382
384       0
385     905
386     371
387       0
388    1129
389     806
390    1393
391     721
392       0
393       0
394     734
395     560
396     480
397     138
398       0
399     966
Name: Balance, Length: 400, dtype: int64

In [8]:
X_scaled = preprocessing.scale(X)

X_scaled

/Users/george/Desktop/fall 2019/datascience/homework/venv/lib/python2.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by the scale function.

array([[-0.86158299, -0.48999879, -0.46553881, ..., -1.2576741 ,
        -0.78492991,  0.79539491],
       [ 1.72743711,  0.82826106,  0.82870309, ...,  1.5284506 ,
         0.49658831,  0.79539491],
       [ 1.68675551,  1.01478681,  1.02931059, ...,  0.88996369,
        -0.78492991, -1.25723711],
       ...,
       [ 0.35946155, -0.24491264, -0.21963285, ...,  0.65778663,
        -0.46455035,  0.79539491],
       [-0.21280808, -0.95891584, -1.05441888, ..., -0.67723146,
        -0.1441708 ,  0.79539491],
       [-0.75334493,  0.34199278,  0.38866085, ...,  0.48365384,
        -2.06644812, -1.25723711]])

In [9]:
#c

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.24, 
                                                    random_state=9)

In [10]:

print(X_train.shape)
print(y_train.shape)

(304, 7)
(304,)

In [11]:
print(X_test.shape)
print(y_test.shape)

(96, 7)
(96,)

In [12]:
#d

my_linreg = LinearRegression()

my_linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [13]:
print(my_linreg.intercept_)

print(my_linreg.coef_)

-497.0869076583066
[ -7.5197188    0.15640406   1.6355104   18.19349659  -1.00062374
   3.73501837 -20.17447952]

The most important feature is Rating and the least important feature is Education.

In [14]:
#e 


y_prediction = my_linreg.predict(X_test)

print(y_prediction)

[ 316.89813114  677.5093907   489.03669272  -49.82989971  706.42913216
  864.96954115  897.65752581  108.20297732 -213.73474279  834.94198677
   11.05109139 -227.34447869  472.01450822    4.54554458 -228.17349827
  956.21537845  896.91570524  821.97824267   18.37144232  857.31517013
 1028.30326279  699.22168497 1176.9426756   666.28578465  643.94064891
  690.63628696  589.35273903  -29.37237394  575.15444917  406.78468032
  845.81453327  828.30862904   82.2376206   953.40592514 -184.74828227
  525.84335889 1045.19205022  535.04104472  107.26753118 -172.8968111
  497.84037664 1155.35533939  429.08674601  403.49872552  143.72087313
  764.78737012  431.24114308 1304.79656588  475.00132057   95.75404622
 -215.69000296    5.62900657  313.88797405  859.9328932   792.27147016
 1029.90210771 1500.40180297 1078.48617624  713.37981473 1072.97948262
  -64.12187718  488.60063387   92.3601712   440.414465    277.13284667
 1075.41508762  258.10181743  773.89657462  278.12447916  409.51029492
  335.56674013  989.87781589  978.31940615 1042.6230052   915.82319179
  150.95645254  516.7089988   733.47654088   74.84330655  556.47429962
 1096.60831626  359.12494251  204.54562103  407.76115868  113.50656023
  958.07237887  934.59051997    2.98452112 1627.80317193  636.31395153
  688.17824441  711.80910955  293.66354104 -219.28997401  -91.76701391
 -149.31642723]

In [15]:
mse = metrics.mean_squared_error(y_test, y_prediction)

rmse = np.sqrt(mse)

print(rmse)

143.24649739643206

In [16]:
#f

from sklearn.model_selection import cross_val_score

In [17]:
feature_cols = ['Income','Limit','Rating','Cards','Age','Education','Married']

X = df[feature_cols]

print(X.shape)

X

(400, 7)

      Income  Limit  Rating  Cards  Age  Education  Married
0     14.891   3606     283      2   34         11        1
1    106.025   6645     483      3   82         15        1
2    104.593   7075     514      4   71         11        0
3    148.924   9504     681      3   36         11        0
4     55.882   4897     357      2   68         16        1
5     80.180   8047     569      4   77         10        0
6     20.996   3388     259      2   37         12        0
7     71.408   7114     512      2   87          9        0
8     15.125   3300     266      5   66         13        0
9     71.061   6819     491      3   41         19        1
10    63.095   8117     589      4   30         14        1
11    15.045   1311     138      3   64         16        0
12    80.616   5308     394      1   57          7        1
13    43.682   6922     511      1   49          9        1
14    19.144   3291     269      2   75         13        0
15    20.089   2525     200      3   57         15        1
16    53.598   3714     286      3   73         17        1
17    36.496   4378     339      3   69         15        1
18    49.570   6384     448      1   28          9        1
19    42.079   6626     479      2   44          9        0
20    17.700   2860     235      4   63         16        0
21    37.348   6378     458      1   72         17        0
22    20.103   2631     213      3   61         10        1
23    64.027   5179     398      5   48          8        1
24    10.742   1757     156      3   57         15        0
25    14.090   4323     326      5   25         16        1
26    42.471   3625     289      6   44         12        0
27    32.793   4534     333      2   44         16        0
28   186.634  13414     949      2   41         14        1
29    26.813   5611     411      4   55         16        0
..       ...    ...     ...    ...  ...        ...      ...
370   35.610   6135     466      4   40         12        0
371   39.116   2150     173      4   75         15        0
372   19.782   3782     293      2   46         16        0
373   55.412   5354     383      2   37         16        1
374   29.400   4840     368      3   76         18        1
375   20.974   5673     413      5   44         16        1
376   87.625   7167     515      2   46         10        0
377   28.144   1567     142      3   51         10        1
378   19.349   4941     366      1   33         19        1
379   53.308   2860     214      1   84         10        1
380  115.123   7760     538      3   83         14        0
381  101.788   8029     574      2   84         11        1
382   24.824   5495     409      1   33          9        0
383   14.292   3274     282      9   64          9        1
384   20.088   1870     180      3   76         16        0
385   26.400   5640     398      3   58         15        0
386   19.253   3683     287      4   57         10        0
387   16.529   1357     126      3   62          9        0
388   37.878   6827     482      2   80         13        0
389   83.948   7100     503      2   44         18        0
390  135.118  10578     747      3   81         15        1
391   73.327   6555     472      2   43         15        0
392   25.974   2308     196      2   24         10        0
393   17.316   1335     138      2   65         13        0
394   49.794   5758     410      4   40          8        0
395   12.096   4100     307      3   32         13        1
396   13.364   3838     296      5   65         17        0
397   57.872   4171     321      5   67         12        1
398   37.728   2525     192      1   44         13        1
399   18.701   5524     415      5   64          7        0

[400 rows x 7 columns]

In [18]:
y = df['Balance']

y.size
print(y)

0       333
1       903
2       580
3       964
4       331
5      1151
6       203
7       872
8       279
9      1350
10     1407
11        0
12      204
13     1081
14      148
15        0
16        0
17      368
18      891
19     1048
20       89
21      968
22        0
23      411
24        0
25      671
26      654
27      467
28     1809
29      915
       ...
370     992
371       0
372     840
373    1003
374     588
375    1000
376     767
377       0
378     717
379       0
380     661
381     849
382    1352
383     382
384       0
385     905
386     371
387       0
388    1129
389     806
390    1393
391     721
392       0
393       0
394     734
395     560
396     480
397     138
398       0
399     966
Name: Balance, Length: 400, dtype: int64

In [19]:
X_scaled = preprocessing.scale(X)

X_scaled

/Users/george/Desktop/fall 2019/datascience/homework/venv/lib/python2.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by the scale function.

array([[-0.86158299, -0.48999879, -0.46553881, ..., -1.2576741 ,
        -0.78492991,  0.79539491],
       [ 1.72743711,  0.82826106,  0.82870309, ...,  1.5284506 ,
         0.49658831,  0.79539491],
       [ 1.68675551,  1.01478681,  1.02931059, ...,  0.88996369,
        -0.78492991, -1.25723711],
       ...,
       [ 0.35946155, -0.24491264, -0.21963285, ...,  0.65778663,
        -0.46455035,  0.79539491],
       [-0.21280808, -0.95891584, -1.05441888, ..., -0.67723146,
        -0.1441708 ,  0.79539491],
       [-0.75334493,  0.34199278,  0.38866085, ...,  0.48365384,
        -2.06644812, -1.25723711]])

In [20]:
my_linreg = LinearRegression()

my_logreg_accuracy_list = cross_val_score(my_linreg, X, y, cv=10, scoring='neg_mean_squared_error')

print (my_logreg_accuracy_list)

my_logreg_accuracy_cv = my_logreg_accuracy_list.mean()

print(my_logreg_accuracy_cv)

[-23646.90415342 -32003.04401232 -35462.64435619 -37327.60719635
 -14341.32205938 -33628.37104224 -31631.99317834 -12491.00334951
 -20749.61212176 -23204.9474346 ]
-26448.744890410482

In [21]:
my_logreg_accuracy_list_positive = -my_logreg_accuracy_list

rmse_list = np.sqrt(my_logreg_accuracy_list_positive)
print(rmse_list)

[153.7754992  178.89394627 188.31527914 193.20353826 119.75525901
 183.38039983 177.85385343 111.76315739 144.04725656 152.331702  ]

In [22]:

print(rmse_list.mean())

160.33198910744073

The RMSE when using cross validation is 160.33198910744073.